table.table.table-striped
    thead
        th
        each diagnosis, id in diagnoses
            th(data-diagnosis-id="#{id}")= diagnosis
    tbody
        each symptom, symptomId in symptoms
            tr(data-symptom-id="#{symptomId}")
                td= symptom
                each diagnosis, diagnosisId in diagnoses
                    td(data-symptom-id="#{symptomId}", data-diagnosis-id="#{diagnosisId}")
                        input(type="checkbox", checked=(associations[diagnosisId].indexOf(symptomId) >= 0))